body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
  }
  
  .ul1 {
    width:70vmin;
    height:70vmin;
    position:relative;
  }
  
  .li1 { 
    /*
      |a|d|a|
      -------  -           
      |/   \|  | 0.5h
      |\   /|  ^          
      ------- 
      |  w  |
    
      a = 0.5h/tan60 = 0.28867513459h
      d = 0.5h/sin60 = 0.57735026919h
      w = a + d + a  = 1.15470053838h
    
      [zoom out]
    
          |a|_d_|         _____    _
          /|     \       /     \   |
    ang=60_|      \__d__/       \  | h     
         \        /     \       /  |
          \_____|/|      \_____/  _|
                a     
         |--------|
             w
    */
    --h: calc(100% / 3);
    --w: calc(1.15470053838 * var(--h));
    --a: calc(0.28867513459 * var(--h));
    --d: calc(0.57735026919 * var(--h));
    height:var(--h);
    width:var(--h);
    position:absolute;
  }
  
  img {
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius: 100%;
  }
  
  .li1:nth-of-type(1) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:0;
  }
  .li1:nth-of-type(2) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 0.5);
  }
  .li1:nth-of-type(3) {
    left:calc(50% - var(--a) * 2 - var(--d) * 1.5);
    top:calc(var(--h) * 1.5);
  }
  .li1:nth-of-type(4) {
    left:calc(50% - var(--a) - var(--d) * 0.5);
    top:calc(var(--h) * 2);
  }
  .li1:nth-of-type(5) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 0.5);
  }
  .li1:nth-of-type(6) {
    left:calc(50% + var(--d) * 0.5);
    top:calc(var(--h) * 1.5);
  }
  
  
  
  /* 
  style 
  */
  
  .ul1 {
    filter:drop-shadow(rgba(0, 0, 0, 0.06) 0px 2px 4px);
  }
  .li1{
    transition: all 0.5s ease;
  }
  .li1:hover {
    filter:drop-shadow(rgba(0, 0, 0, 0.5) 0px 19px 43px);
    transform: translate3d(0px, -1px, 0px);
  }
  
  /*
  anim
  */
  
  .ul1 {
    animation:r 4s forwards;
  } @keyframes r {
    from {transform:rotate(180deg)}
    to {transform:rotate(0)}
  }
  
  .li1 {
    animation:ir 4s forwards;
  } @keyframes ir {
    from {transform:rotate(-360deg)}
    to {transform:rotate(0)}
  }