@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans);


h1 {
  position: relative;
  text-align: center;
  font-family: 'Vollkorn', sans-serif;
}

.button_container1 {
  position: fixed;
  top: 20px;
  right: 30px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  z-index: 100;
}
.button_container1:hover span:nth-of-type(2) {
  top: 10px;
  width: 100%;
  float: right;
  background-color: black;
}
.button_container1:hover span:nth-of-type(odd) {

  background-color: black;
}

.button_container1.active .top {
  -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
          transform: translateY(10px) translateX(0) rotate(45deg);
  background: black;
}

.button_container1.active .middle {
  opacity: 0;
  background: black;
}

.button_container1.active .bottom {
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
          transform: translateY(-10px) translateX(0) rotate(-45deg);
  background: black;
}

.button_container1 span {
  background: black;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}

.button_container1 span:nth-of-type(2) {
  top: 10px;
  width: 50%;
  float: right;
}

.button_container1 span:nth-of-type(3) {
  top: 20px;
}

.overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, width .35s;
  transition: opacity .35s, visibility .35s, width .35s;
  z-index: 50;
}

.overlay1:before {
  content: '';
  background: white;
  left: -55%;
  top: 0;
  width: 50%;
  height: 100vh;
  position: absolute;
  -webkit-transition: left .35s ease;
  transition: left .35s ease;
}

.overlay1:after {
  content: '';
  background: white;
  right: -55%;
  top: 0;
  width: 50%;
  height: 100vh;
  position: absolute;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.overlay1.open {
  visibility: visible;
  height: 100vh;
}

.overlay1.open:before {
  left: 0;
}

.overlay1.open:after {
  right: 0;
}

.overlay1.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}

.overlay1.open li:nth-of-type(2) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}

.overlay1.open li:nth-of-type(3) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}

.overlay1.open li:nth-of-type(4) {
  -webkit-animation-delay: .65s;
          animation-delay: .65s;
}

.overlay1 nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

.overlay1 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

.overlay1 ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}

.overlay1 ul li a {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  overflow: hidden;
}
.overlay1 ul li a::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .overlay1 ul li a:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}


.overlay1 ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: black;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*# sourceMappingURL=scss.css.map */
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid white;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
}
	.scroll:before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid white;
  	border-bottom: 2px solid white;
		transform: rotate(-45deg);
	}


@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
